<footer class="bg-dark text-white pt-4">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Nuestra Veterinaria</h5>
          <p>Proporcionamos el mejor cuidado para tus mascotas.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Enlaces</h5>
          <ul class="list-unstyled">
            <li><a href="#!" class="text-white">Inicio</a></li>
            <li><a href="#!" class="text-white">Servicios</a></li>
            <li><a href="#!" class="text-white">Sobre Nosotros</a></li>
            <li><a href="#!" class="text-white">Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Síguenos</h5>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com" class="text-white" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a href="https://www.whatsapp.com" class="text-white" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
            <li><a href="https://www.twitter.com" class="text-white" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="https://www.instagram.com" class="text-white" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">
      <p>&copy; 2024 Nuestra Veterinaria [Javier Osco Guachalla]. Todos los derechos reservados.</p>
    </div>
  </footer>