<div class="container mt-5">
    <div class="row">
      <div class="col ">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Consulta Médica</div>
          <div class="card-body">
            <h5 class="card-title">Revisión General</h5>
            <p class="card-text">Realizamos revisiones generales para asegurarnos de que tu mascota está en perfecto estado de salud.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Vacunación</div>
          <div class="card-body">
            <h5 class="card-title">Protección Completa</h5>
            <p class="card-text">Ofrecemos un programa completo de vacunación para proteger a tu mascota contra diversas enfermedades.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Peluquería</div>
          <div class="card-body">
            <h5 class="card-title">Cuidado Estético</h5>
            <p class="card-text">Nuestros servicios de peluquería mantendrán a tu mascota limpia y con un aspecto impecable.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col ">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Cirugía</div>
          <div class="card-body">
            <h5 class="card-title">Intervenciones Seguras</h5>
            <p class="card-text">Realizamos cirugías con los más altos estándares de seguridad y cuidado para tu mascota.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Emergencias</div>
          <div class="card-body">
            <h5 class="card-title">Atención 24/7</h5>
            <p class="card-text">Disponemos de un servicio de emergencias 24 horas para cualquier eventualidad que pueda surgir.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Tienda de Mascotas</div>
          <div class="card-body">
            <h5 class="card-title">Productos de Calidad</h5>
            <p class="card-text">Encuentra todo lo que necesitas para tus mascotas en nuestra tienda, desde alimentos hasta juguetes.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <h1 class="text-center mb-5">Nuestra Veterinaria</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="https://th.bing.com/th/id/OIP.RqZY4MQq_CSALm4oFe-OQQHaE7?rs=1&pid=ImgDetMain" class="card-img-top" alt="Consulta Médica" height="250">
          <div class="card-body">
            <h5 class="card-title">Consulta Médica</h5>
            <p class="card-text">Ofrecemos consultas médicas especializadas para todas las mascotas, asegurando su bienestar y salud.</p>
            <a href="#" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://th.bing.com/th/id/R.654aee9cf646039484e4b7008696ac6c?rik=g1in9ZwkG9oDKw&riu=http%3a%2f%2fmuchosnegociosrentables.com%2fwp-content%2fuploads%2f2021%2f06%2fnegocios-de-mascotas-tiendas.png&ehk=kGfLnjqEzux4HLXdJy%2fEVb1RuUWv5WprSmT0CXugcoo%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="Vacunación" height="250">
          <div class="card-body">
            <h5 class="card-title">Vacunación</h5>
            <p class="card-text">Mantén a tus mascotas protegidas con nuestro completo servicio de vacunación.</p>
            <a href="#" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://img.freepik.com/foto-gratis/lindo-perrito-tienda-mascotas-dueno_23-2148872567.jpg?size=626&ext=jpg" class="card-img-top" alt="Peluquería" height="250">
          <div class="card-body">
            <h5 class="card-title">Peluquería</h5>
            <p class="card-text">Nuestros servicios de peluquería mantendrán a tu mascota limpia y con un aspecto impecable.</p>
            <a href="#" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card">
          <img src="https://www.shutterstock.com/shutterstock/photos/1537553588/display_1500/stock-photo-little-cute-puppy-walking-in-pet-shop-on-background-of-shelves-with-dog-accessories-1537553588.jpg" class="card-img-top" alt="Cirugía" height="250">
          <div class="card-body">
            <h5 class="card-title">Cirugía</h5>
            <p class="card-text">Contamos con un equipo quirúrgico altamente capacitado para realizar todo tipo de operaciones.</p>
            <a href="#" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://th.bing.com/th/id/R.658bdd5ad6b3c225b068eefd82589abe?rik=u6A809W3ANAQXQ&pid=ImgRaw&r=0" class="card-img-top" alt="Emergencias" height="250">
          <div class="card-body">
            <h5 class="card-title">Emergencias</h5>
            <p class="card-text">Atendemos emergencias las 24 horas, los 7 días de la semana, para garantizar la salud de tus mascotas.</p>
            <a href="#" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://www.happypetspanama.com/wp-content/uploads/2016/07/petshop.jpg " class="card-img-top" alt="Tienda de Mascotas" height="250">
          <div class="card-body">
            <h5 class="card-title">Tienda de Mascotas</h5>
            <p class="card-text">Encuentra todo lo que necesitas para tus mascotas en nuestra tienda, desde alimentos hasta juguetes.</p>
            <a href="#" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
    </div>
  </div>
